<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="Herotwo.css">
    <title>Document</title>
</head>
<body>
    



     <section class="Hero-two Hero-about-us">

        <div class="middle-content">



             <h1 class="intro--heading">

                Our Company
                </h1>
                <p class="desc-text">We simplify the lives of developers building world-<br>changing apps.</p>
           
                <button class="btn btn--blue btn-xl">
                    Join our team
                  </button>
            </div>
            <div class="about-docker-section section-two">
                <h2 class="about-heading">About Docker</h2>
                <p class="text-xxl text-middle">Docker helps developers bring their ideas to life by conquering the complexity of app<br> development. Actively used by millions of developers around the world, Docker Desktop and <span class="color-text">Docker<br></span> Hub provide unmatched simplicity, agility and choice.</p>


            </div>
            <div class="bottom-content">
                <h2 class="bottom-heading">Docker Virtues</h2>
                <p class="bottom-paragraph">Our virtues guide how we operate and make decisions.</p>
            </div>

<div class="main-container">
               <div class="grid-col col-2">
                <div class="grid-col-2">
<div class="flex">
                    <div class="left">
                    <img src="https://up.yimg.com/ib/th?id=OIP.xUYFF7AmoNbjIrSEfOJKpQHaEy&%3Bpid=Api&rs=1&c=1&qlt=95&w=171&h=110">

                </div>

                <div class="right">
                    <h2>Developer Obsession</h2>
                    <p>We constantly put ourselves in the shoes of the developer. We<br> seek their feedback and, by understanding their needs, we<br> build solutions that they love. Every decision we make, big or<br> small, starts with the customer developer in mind.</p>
                </div>
                </div>
                <div class="flex">
                <div class="left">
                    <img src="https://up.yimg.com/ib/th?id=OIP.xUYFF7AmoNbjIrSEfOJKpQHaEy&%3Bpid=Api&rs=1&c=1&qlt=95&w=171&h=110">

                </div>
                <div class="right">
                    <h2>Developer Obsession</h2>
                    <p>We leave our egos at the door. We extend kindness to each <br>other. We assume positive intent. We respect and value<br> differences. We are open to feedback and actively seek to<br> learn from our mistakes.</p>
                </div>
                </div>
                <div class="flex">
                <div class="left">
                    <img src="https://up.yimg.com/ib/th?id=OIP.xUYFF7AmoNbjIrSEfOJKpQHaEy&%3Bpid=Api&rs=1&c=1&qlt=95&w=171&h=110">

                </div>
                <div class="right">
                    <h2>Developer Obsession</h2>
                    <p>We make data driven decisions and once a decision is made,<br> we move! We may disagree, but as a team we commit and get<br> behind the plan. We are not afraid to fail fast; we learn from<br> our mistakes. We are empowered to tackle challenges in<br> exciting and innovative ways.</p>
                </div>
            </div>
            <div class="flex">
                <div class="left">
                    <img src="https://up.yimg.com/ib/th?id=OIP.xUYFF7AmoNbjIrSEfOJKpQHaEy&%3Bpid=Api&rs=1&c=1&qlt=95&w=171&h=110">

                </div>
                <div class="right">
                    <h2>Developer Obsession</h2>
                    <p>We constantly put ourselves in the shoes of the developer. We seek their feedback and, by understanding their needs, we build solutions that they love. Every decision we make, big or small, starts with the customer developer in mind.</p>
                </div>
            </div>
            
            </div>
               </div>



            </div>
</section>

</body>
</html>