git branch<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="hero.css">
    <title>Document</title>
</head>
<body>
    



    <section class="hero--section">
       <div class="hero-container">
        <div class="wrapper">

        <h1 class="heading-text">Docker Builds: Now Lightning Fast</h1>
        <p class="text-md" id="para">Announcing Docker Build Cloud general availability</p>
     <a href="#" class="btn-large">Discover Docker Build Cloud</a>
    </div>
    </div>
    
    </section>
</body>
</html>