<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="cards.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>




    <div class="container-card ">

        <div class="profile-card1">
            <div class="left-col">
              
                James Spurin
            </h3>
            <p class="sub-heading-profile"></p>
            <h4>DevOps consultan</h4>

        </div>
        <div class="right-col">
            <h4>Roma Italy
            </h4>
        </div>
        </div>
        </div>
    
</body>
</html>